﻿@model MeetHub.Models.GroupeGlobalViewModel
@{
    ViewBag.Title = "Groupes";
}
<hr />
<div class="col-sm-12 container ">
    <div class="submain col-sm-6 col-sm-offset-3">
        @using (Html.BeginForm("AjouterGroupe", "Groupe", FormMethod.Post, new { @class = "ui form", role = "form" }))
        {
            <h4>Ajouter un nouveau groupe</h4>
            <hr />
            <div class="field">
                <div class="ui labeled input">
                    @Html.LabelFor(m => m.AjouterNom, new { @class = "col-sm-3 col-xs-3 ui label" })
                    @Html.TextBoxFor(m => m.AjouterNom)
                </div>
            </div>
            <div class="field">
                <div class="ui labeled input">
                    @Html.LabelFor(m => m.AjouterLieu, new { @class = "col-sm-3 col-xs-3 ui label" })
                    @Html.TextBoxFor(m => m.AjouterLieu)
                </div>
            </div>
            <div class="field">
                <div class="ui labeled input">
                    @Html.LabelFor(m => m.AjouterDescription, new { @class = "col-sm-3 col-xs-3 ui label" })
                    @Html.TextAreaFor(m => m.AjouterDescription)
                </div>
            </div>
            <div class="field">
                <div class="text-center">
                    <input type="submit" class="ui button waves-effect waves-green" value="Ajouter" />
                </div>
            </div>
        }
    </div>
</div>

<div class="col-sm-12 container">
    <h4 class="animated text-muted" data-animation="fadeInUp" data-animation-delay="200"> Mes Groupes </h4>
    <br />
    <div class="row">
        @foreach (var groupe in Model.groupes)
        {
            <div class='col-sm-4 animated' data-animation="fadeInUp" data-animation-delay="200">
                <div class="ui raised segment">
                    <a class="ui teal ribbon label big text-uppercase">@groupe.Nom</a>
                    <hr />
                    <p>Crée le @groupe.DateCreation</p>
                    <p>Quartier général : @groupe.Lieu</p>
                    <p>Description: @groupe.Description</p>
                    <center>
                        <div class="ui buttons">
                            <button class="ui positive button">MODIFIER</button>
                            <div class="or" data-text="ou"></div>
                            @Html.ActionLink("SUPPRIMER", "SupprimerGroupe", new { Id = @groupe.GroupeId } , new { @class = "ui negative button" })
                        </div>
                    </center>
                </div>
            </div>
        }
    </div>
</div>
<hr>
<div class="col-sm-12 container">
    <h4 class="animated text-muted" data-animation="fadeInUp" data-animation-delay="200">Participations</h4>
    <br/>
    <div class="row">
        @foreach (var groupe in Model.invitations)
        {
            <div class='col-sm-4 animated' data-animation="fadeInUp" data-animation-delay="200">
                <div class="ui raised segment">
                    <a class="ui teal ribbon label big text-uppercase">@groupe.Nom</a>
                    <hr />
                    <p>Crée le @groupe.DateCreation</p>
                    <p>Quartier général : @groupe.Lieu</p>
                    <p>Createur : @groupe.Createur.Email</p>
                    <p>Description: @groupe.Description</p>
                    <div class="ui mini teal message">
                        <p>Nous sommes une communauté de @groupe.NbMembres membre(s)</p>
                    </div>
                    <div class="ui mini teal message">
                        <p>Nous avons organise(s) @groupe.NbEvenements évènements</p>
                    </div>
                    <center>
                        @Html.ActionLink("QUITTER", "QuitterGroupe", new { Id = @groupe.GroupeId }, new { @class = "ui red button" })
                    </center>
                </div>
            </div>
        }
    </div>
</div>
<hr>
<div class="container col-sm-12">
    <h4 class="animated text-muted" data-animation="fadeInUp" data-animation-delay="200">Nouveaux groupes</h4>
    <br />
    <div class="row">
        @foreach (var groupe in Model.groupesrecents)
        {
            <div class='col-sm-4 animated' data-animation="fadeInUp" data-animation-delay="200">
                <div class="ui raised segment">
                    <a class="ui teal ribbon label big text-uppercase">@groupe.Nom</a>
                    <hr />
                    <p>Crée le @groupe.DateCreation</p>
                    <p>Quartier général : @groupe.Lieu</p>
                    <p>Createur : @groupe.Createur.Email</p>
                    <p>Description: @groupe.Description</p>
                    <div class="ui mini teal message">
                        <p>Nous sommes une communauté de @groupe.NbMembres membre(s)</p>
                    </div>
                    <div class="ui mini teal message">
                        <p>Nous avons organise(s) @groupe.NbEvenements évènements</p>
                    </div>
                    <center>
                        @Html.ActionLink("REJOINDRE", "RejoindreGroupe", new { Id = @groupe.GroupeId }, new { @class = "ui blue button" })
                    </center>
                </div>
            </div>
        }
    </div>
</div>