﻿
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MeetHub</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/semantic")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top animated"  data-animation="fadeInDown" data-animation-delay="200">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MeetHub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <img class="img-responsive" width="50" src="~/Images/Logos/logo.gif" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {

                    <li>
                        @Html.ActionLink("Groupes", "AfficherGroupes", "Groupe")
                    </li>
                    <li>
                        @Html.ActionLink("Evènements", "AfficherEvenements", "Evenement")
                    </li>
                    <li>
                        @Html.ActionLink("Rechercher", "Index", "Recherche")
                    </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container main body-content top-spaced">
        @RenderBody()
    </div>
    <footer id="contact" class="text-center container">
        <p>&copy; @DateTime.Now.Year - MeetHub - Droits Réservés</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/appear")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
</body>
</html>
