﻿@model MeetHub.Models.EvenementGlobalViewModel
@{
    ViewBag.Title = "Evenements";
}
<hr />
<div class="col-sm-12 container ">
    <div class="submain col-sm-6 col-sm-offset-3">
        @using (Html.BeginForm("AjouterEvenement", "Evenement", FormMethod.Post, new { @class = "ui form", role = "form" }))
        {
            <h4>Ajouter un nouvel évènement</h4>
            <hr />
            <div class="field">
                <div class="ui labeled input">
                    @Html.LabelFor(m => m.AjouterNom, new { @class = "col-sm-3 col-xs-3 ui label" })
                    @Html.TextBoxFor(m => m.AjouterNom)
                </div>
            </div>
            <div class="field">
                <div class="ui labeled input">
                    @Html.LabelFor(m => m.AjouterLieu, new { @class = "col-sm-3 col-xs-3 ui label" })
                    @Html.TextBoxFor(m => m.AjouterLieu)
                </div>
            </div>
            <div class="field">
                <div class="ui labeled input">
                    @Html.LabelFor(m => m.AjouterDescription, new { @class = "col-sm-3 col-xs-3 ui label" })
                    @Html.TextAreaFor(m => m.AjouterDescription)
                </div>
            </div>
            <div class="field">
                <div class="ui labeled input">
                    @Html.LabelFor(m => m.AjouterDate, new { @class = "col-sm-3 col-xs-3 ui label" })
                    @Html.TextBoxFor(m => m.AjouterDate)
                </div>
            </div>
            <div class="field">
                <div class="text-center">
                    <input type="submit" class="ui button waves-effect waves-green" value="Ajouter" />
                </div>
            </div>
        }
    </div>
</div>
<hr />
<div class="col-sm-12 container">
    <h4 class="animated text-muted" data-animation="fadeInUp" data-animation-delay="200"> Mes Evenements </h4>
    <div class="row">
        @foreach (var evenement in Model.evenements)
        {
            <div class='col-sm-4 animated' data-animation="fadeInUp" data-animation-delay="200">
                <div class="ui raised segment">
                    <a class="ui teal ribbon label big">@evenement.Nom</a>
                    <p>Adresse: @evenement.Date</p>
                    <p>Lieu: @evenement.Lieu</p>
                    <p>@evenement.NbMembres membre(s) y participe(nt)</p>
                    <p> Organisé(e) par: @evenement.Createur.Email</p>
                    <center>
                        <div class="ui buttons">
                            <button class="ui positive button">Modifier</button>
                            <div class="or" data-text="ou"></div>
                            @Html.ActionLink("SUPPRIMER", "SupprimerEvenement", new { Id = @evenement.EvenementId }, new { @class = "ui negative button" })
                        </div>
                    </center>
                </div>
            </div>
        }
    </div>
</div>
<hr>
<div class="col-sm-12 container">
    <h4 class="animated text-muted" data-animation="fadeInUp" data-animation-delay="200"> Participation aux evenements </h4>
    <div class="row">
        @foreach (var evenement in Model.invitations)
        {
            <div class='col-sm-4 animated' data-animation="fadeInUp" data-animation-delay="200">
                <div class="ui raised segment">
                    <a class="ui teal ribbon label big">@evenement.Nom</a>
                    <p>Adresse: @evenement.Date</p>
                    <p>Lieu: @evenement.Lieu</p>
                    <p>@evenement.NbMembres membre(s) y participe(nt)</p>
                    <p> Organisé(e) par: @evenement.Createur.Email</p>
                    <center>
                        @Html.ActionLink("ANNULER PARTICIPATION", "AnnulerEvenement", new { Id = @evenement.EvenementId }, new { @class = "ui red button" })
                    </center>
                </div>
            </div>
        }
    </div>
</div>
<hr>
<div class="col-sm-12 container">
    <h4 class="animated text-muted" data-animation="fadeInUp" data-animation-delay="200"> Evenements ajoutés récemment </h4>
    <div class="row">
        @foreach (var evenement in Model.evenementsrecents)
        {
            <div class='col-sm-4 animated' data-animation="fadeInUp" data-animation-delay="200">
                <div class="ui raised segment">
                    <a class="ui teal ribbon label big">@evenement.Nom</a>
                    <p>Adresse: @evenement.Date</p>
                    <p>Lieu: @evenement.Lieu</p>
                    <p>@evenement.NbMembres membre(s) y participe(nt)</p>
                    <p> Organisé(e) par: @evenement.Createur.Email</p>
                    <center>
                        @Html.ActionLink("REJOINDRE", "RejoindreEvenement", new { Id = @evenement.EvenementId }, new { @class = "ui blue button" })
                    </center>
                </div>
            </div>
        }
    </div>
    <hr />
</div>