﻿@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Images/Carousel/carousel1.jpg" alt="BussinessMeeting">
        </div>

       <div class="item">
            <img src="~/Images/Carousel/carousel2.jpg" alt="PartyMeeting">
        </div>

        <div class="item">
            <img src="~/Images/Carousel/carousel3.jpg" alt="PoliticalMeeting">
        </div>

        <div class="item">
            <img src="~/Images/Carousel/carousel4.jpg" alt="ContestMeeting">
        </div>

        <div class="item">
            <img src="~/Images/Carousel/carousel5.jpg" alt="GameMeeting">
        </div>
    </div>
</div>
<hr />
@if (Request.IsAuthenticated)
{
<div class="row">
    <div class='col-sm-4 animated' data-animation="fadeInUp" data-animation-delay="200">
        <div class="ui raised segment">
            <a class="ui teal ribbon label big">Ajouter un groupe</a>
            <button class="ui labeled icon button">
                <i class="plus icon"></i>
                Ajouter
            </button>
            <a class="ui teal right corner label big">
                <i class="file icon"></i>
            </a>
        </div>
    </div>
    <div class='col-sm-4 animated' data-animation="fadeInUp" data-animation-delay="200">
        <div class="ui raised segment">
            <a class="ui teal ribbon label big">Ajouter un évènement</a>
            <button class="ui labeled icon button">
                <i class="plus icon"></i>
                Ajouter
            </button>
            <a class="ui teal right corner label big">
                <i class="file icon"></i>
            </a>
        </div>
    </div>
</div>
}
<hr />