﻿@model MeetHub.Models.RechercheViewModel
@{
    ViewBag.Title = "Recherche";
}
<hr />
@using (Html.BeginForm("AjouterGroupe", "Groupe", FormMethod.Post, new { @class = "ui form", role = "form" }))
{

    <div class="ui labeled action input">
        @Html.LabelFor(m => m.Recherche, new { @class = "col-sm-3 col-xs-3 ui label" })
        @Html.TextBoxFor(m => m.Recherche)
        @Html.ActionLink("Rechercher", "RechercherGroupe", new { Recherche = Model.Recherche }, new { @class = "ui positive button" })
    </div>
}