﻿@using MeetHub.Models
@model LoginViewModel
@{
    ViewBag.Title = "Connexion";
}

<div class="row top-spaced">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12 submain container-shadow waves-effect waves-green animated"  data-animation="fadeInLeft" data-animation-delay="200">
        <section id="loginForm">
            <h4 class="text-center">@ViewBag.Title</h4>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "ui form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="field">
                    <div class="ui labeled input">
                        @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 col-xs-4 ui label" })
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="field">
                    <div class="ui labeled input">
                        @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 col-xs-4 ui label" })
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <!--<div class="field">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @**@Html.CheckBoxFor(m => m.RememberMe)
                            @**@Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>-->
                <div class="field">
                    <div class="text-center">
                        <input type="submit" value="Connexion" class="ui button waves-effect waves-green" />
                    </div>
                </div>
                <p class="text-center">
                    @Html.ActionLink("S'inscrire comme nouvel utilisateur", "Register")
                </p>
                @* Activer ceci une fois que la confirmation de votre compte est activée pour la fonctionnalité de réinitialisation du mot de passe
                    <p>
                        @Html.ActionLink("Vous avez oublié votre mot de passe ?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}