﻿@model MeetHub.Models.RegisterViewModel
@{
    ViewBag.Title = "Inscription";
}

<div class="row top-spaced">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12 submain container-shadow waves-effect waves-green animated" data-animation="fadeInLeft" data-animation-delay="200">
        <h4 class="text-center">@ViewBag.Title</h4>
         @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "ui form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="field">
                <div class="ui labeled input">
                    @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 col-xs-4 ui label" })
                    @Html.TextBoxFor(m => m.Email)
                </div>
            </div>
            <div class="field">
                <div class="ui labeled input">
                    @Html.LabelFor(m => m.Password, new { @class = "col-sm-3 col-xs-4 ui label" })
                    @Html.PasswordFor(m => m.Password)
                </div>
            </div>
            <div class="field">
                <div class="ui labeled input">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-3 col-xs-4 ui label" })
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div class="field">
                <div class="text-center">
                    <input type="submit" class="ui button waves-effect waves-green" value="S’inscrire" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
